* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f6f9;
}

.container {
    width: 1200px;
    margin: 0 auto;
}


:root {
    --primary: #2e627a;
    --accent: #2563eb;
    --bg: #f4f6f9;
}

a {
    text-decoration: none;
    color: inherit;
}

a:visited {
    color: inherit;
}
