.search {
    flex: 1; /* 가운데 공간 최대한 차지 */
    display: flex;
    justify-content: center;
    margin: 0 40px;
}

.search form {
    display: flex;
    width: 100%;
    max-width: 750px; /* 검색창 최대폭 */
}

.search input {
    flex: 1;
    padding: 12px 14px;
    border: none;
    border-radius: 8px 0 0 8px;
    font-size: 14px;
}

.search button {
    padding: 12px 24px;
    background: #1f4f63;
    color: white;
    border: none;
    border-radius: 0 8px 8px 0;
    cursor: pointer;
    font-weight: 600;
}

.search button:hover {
    background: #163b49;
}
